body{
margin: 0;

}
.top-container{
  background-image:url("https://media.istockphoto.com/id/1317323736/photo/a-view-up-into-the-trees-direction-sky.jpg?s=1024x1024&w=is&k=20&c=9Qfj9S124ojed7s4OWu3a3vbbMC76QYkqczg4L4M-Sc=");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.top-container h1{
  color: white;
  font-size: 50px;
  font-family: Impact, Haettenschweiler,"Aerial Narrow Bold",sans-serif;
  letter-spacing: 2px;
}

.text{
  margin: 50px 5%;
  font-family: sans-serif;
}

.navbar{
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: background-color 0.4s;
}

.navbar ul{
  display:flex ;
  list-style-type: none;

}

.navbar ul li a{
  text-decoration: none;
  margin: 0 10px;
  color: black;
  font-family: cursive;
}
.navbar ul li a:hover{
  color: red;
}

.navbar.active{
  background-color: black;
}

.navbar.active ul li a{
  color: white;
}
